html, body {
    width: 100%;
}

button {
    margin-bottom: 8px;
}

input[type=range] {
    width: 50%;
}

input[type=text] {
    width: 50%;
}

video {
    float: left;
    width: 50%;
    margin: 0;
    padding: 0;
}

label {
    margin-left: 10px;
    display: block;
}

.videoWrapper {
    display: none;
    margin-top: 150px;
}

.upperContainer {
    text-align: center;
}

.controls {
    display: none;
    text-align: center;
    clear: both;
}

.header {
    position: fixed;
    height: 150px;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: white;
}

.next {
    display: none;
}
